parameters:
    level: 5
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    paths:
        - src
    excludePaths:
        - src/CLI
        - src/StructuredData/SchemaGenerator.php
        - src/Integrations/Laravel
        - src/Integrations/Symfony
