<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         cacheResultFile=".phpunit.result.cache">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Integrations</directory>
            <file>src/CLI/Application.php</file>
        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <ini name="memory_limit" value="256M"/>
    </php>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
        <teamcity outputFile="coverage/teamcity.txt"/>
    </logging>
</phpunit>